body {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}
ul {
  list-style: none;
  padding: 0;
}
/* --------------------START PAGE -------------------- */
.content-start {
  display: none;
  position: fixed;
  top: 20%;
  text-align: center;
}
.title-start {
  font-family: "Ubuntu", Arial, sans-serif;

  font-size: 32px;
  line-height: 37px;

  text-align: center;

  color: #010125;
}
.description-start {
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  margin-top: 16px;
  margin-bottom: 60px;

  color: #010125;
}
.btn {
  text-align: center;
  color: #ffffff;

  background: #3b00ff;
}
.start-button {
  font-size: 20px;
  line-height: 23px;
  border: none;
  border-radius: unset;
  width: 116px;
  height: 44px;
}

/* --------------------OFFER and SEEK-------------------- */

.offer-content {
  display: none;
  position: fixed;
  top: 20%;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}
.seek-content {
  display: none;
  position: fixed;
  top: 20%;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}
.description {
  font-weight: normal;
  color: #010125;
}

h2.title,
h2.title-seek {
  font-family: "Ubuntu", Arial, sans-serif;
  font-size: 32px;
  line-height: 37px;

  color: #010125;
}
.offer-word {
  color: #3b00ff;
}
.seek-word {
  color: #ff6700;
}
.item,
.item-seek {
  display: block;
  text-align: left;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  min-height: 52px;
  width: 100%;
  max-width: 490px;

  border: 1px solid #dde9ee;
  border-radius: 4px;
  background-color: #ffffff;

  margin-bottom: 14px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 20px;
  padding-right: 33px;

  position: relative;
}

.list li:first-child {
  margin-top: 28px;
}
.list li:last-child {
  margin-bottom: 40px;
}
.list-in-list {
  /* display: none; */
  padding-left: 10px;
  padding-right: 10px;
  transition: all ease 0.8s;
  max-width: 490px;
  margin: 10px auto;
}
.list-in-list li {
  display: inline-block;
  min-height: 40px;
  min-width: 230px;
  width: min-content;
  padding-right: 40px;
}

.list-in-list li:first-child {
  margin-top: 0;
}
.list-in-list li:last-child {
  margin-bottom: 4px;
}

.item:hover,
.item-seek:hover {
  background: #f6f9f9;
}
.active-offer,
.select-active-offer {
  border: 1px solid #3b00ff;
  background-color: #ffffff;
}
.active-offer::after {
  position: absolute;
  content: "";
  top: 15px;
  right: 15px;

  width: 24px;
  height: 24px;

  background-image: url("img/Vector-blue.svg");
  background-repeat: no-repeat;
}
.list-in-list .active-offer::after {
  position: absolute;
  content: "";
  top: 15px;
  right: 18px;

  width: 20px;
  height: 20px;

  background-image: url("img/Vector-blue.svg");
}
.active-seek,
.select-active-seek {
  border: 1px solid #ff6700;
  background-color: #ffffff;
}
.active-seek::after {
  position: absolute;
  content: "";
  top: 15px;
  right: 15px;

  width: 24px;
  height: 24px;

  background-image: url("img/Vector-orange.svg");
  background-repeat: no-repeat;
}
.list-in-list .active-seek::after {
  position: absolute;
  content: "";
  top: 15px;
  right: 18px;

  width: 20px;
  height: 20px;

  background-image: url("img/Vector-orange.svg");
}

.count-offer {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #3b00ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 0;
  padding: 4px;
}
.count-seek {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #ff6700;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  margin-right: 0;
  padding: 4px;
}
.count-num {
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
}
.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 20px;
}
.btn-seek {
  background: #ff6700;
  color: #ffffff;
}

/* --------------------PROFILE-------------------- */
.my-page {
  /* display: none; */
  /* position: fixed;
  top: 20%; */
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 60px;

}
.side-nav {
  padding-right: 10px;
  padding-left: 60px;
  margin-right: 160px;
}
.menu-item {
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: block;
  text-align: left;

  padding-left: 60px;
  color: #010125;
  min-height: 44px;
  max-width: 270px;
  min-width: 210px;
  width: 100%;

  border: none;
  background: #ffffff;

  position: relative;
}
.swipe svg {
  position: absolute;
  bottom: 10px;
  left: 20px;
  width: 24px;
  height: 24px;
}
.profile svg {
  position: absolute;
  left: 24px;
  width: 18px;
  height: 20px;
}

.matches svg {
  position: absolute;
  left: 24px;
  width: 20px;
  height: 20px;
}
.count-matches {
  position: absolute;
  top:5px;
  left: 34px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: #3b00ff;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  
}
.match-num {
  font-family: "Ubuntu", Arial, sans-serif

  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
}
.menu-item-active svg path{
  fill: #3B00FF;
}
.menu-item-active {
  font-weight: bold;
  background-color: #ede5ff;
  color: #3B00FF;
  }
.card {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border: none;
}
.profile-card {
  max-width: 460px;
}
.card-name {
  font-family: "Ubuntu", Arial, sans-serif;
  font-size: 32px;
  line-height: 37px;

  text-align: center;

  color: #010125;
}
.card-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  text-align: center;

  color: #768893;
}

.img-card {
  text-align: center;
  margin-top: 31px;
  margin-bottom: 23px;
}
.card-body {
  padding-bottom: 0;
}
.card-match {
  max-width: 354px;
}

.card-body ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.list-seeks li,
.list-offers li {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  color: #010125;

  border: 1px solid #dde9ee;
  box-sizing: border-box;
  border-radius: 4px;
  min-width: 76px;
  min-height: 32px;
  padding: 10px;
  margin-right: 6px;
  margin-bottom: 6px;
}
.list-seeks,
.list-offers {
  margin-top: 11px;
}
li.active-of {
  border: 1px solid #3b00ff;
  background-color: #ffffff;
}
li.active-s {
  border: 1px solid #ff6700;
  background-color: #ffffff;
}
.page-footer {
  margin-top: 140px;
}
.list-footer {
  position: relative;
}
.list-footer li {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.5;
  position: relative;
}
.list-footer a {
  cursor: pointer;
  text-decoration: none;
  color: #768893;
}

.nope svg {
  position: absolute;
  bottom: 2%;
  right: 110%;

  width: 20px;
  height: 20px;
}
.next svg {
  position: absolute;
  bottom: 2%;
  right: 110%;

  width: 47px;
  height: 20px;
}
.icon-like svg {
  position: absolute;
  bottom: 2%;
  left: 110%;

  width: 20px;
  height: 20px;
}
